// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image img {
  width: 100%;
  margin: 0px;
  padding:0px;
}

.image {
   width: 15%;
}

.name {
   font-size: 150%;
}

.price {
   font-size: 200%;
}

.description {
   font-size: 100%;
}

.field {
  margin: 5px;
  padding:5px;
  display: flex;
}

.listing_field {

}

.qty {
  width: 50px;
}
.actions {
  background-color: #00308F;
  width: 100%;
  text-align: center;
  font-size: 200%;
}
